/* Fix for showing both true and false at ng-show for a second */
.ng-hide.ng-hide-animate {
    display: none !important;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    min-width: 800px;
    background:	#fff;
    margin: 0 0 7.5em 0; /* bottom = footer height */
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6em;
    width: 100%;
    padding-top: 1.5em;
    text-align: center;
    color: #808080;
    background-color: rgba(232, 232, 232, 0.78);
    border-top: 1px solid #c1c1c1;
}

a:focus{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1{
    font-weight: bold;
    font-size: 18px;
    color: #373737;
    margin-bottom: 20px;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #696969;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4{
    margin-top: 10px !important;
}

h5{
    font-weight: bold !important;
}

p{
    margin: 0 !important;
}

hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border-top: 1px solid #d2d2d2 !important;
}

.text-red{
    color: red;
}

.inline-block{
    display: inline-block;
}

.not-displayed{
    display: none !important;
}

.center{
    text-align:center;
}

.margin-0{
    margin: 0 !important;
}

.col-margin{
    margin-left: -30px;
}

.col-25 {
    width: 25%;
    vertical-align: top;
}

.col-70 {
    width: 70%;
    vertical-align: top;
}

.col-45 {
    width: 45%;
    vertical-align: top;
}

.col-50 {
    width: 50%;
    vertical-align: top;
}

.opacity-50{
    opacity: 0.5;
}

.cursor-help{
    cursor: help;
}

.add-fields{
    min-width: 178px !important;
}

.main-content{
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.pending{
    color: rgb(255, 167, 0);
    font-weight: bold;
}

.pending_bg{
    background: rgba(255, 225, 0, 0.36);
}

.accepted{
    color: green;
    font-weight: bold;
}

.accepted_bg{
    background: rgba(68, 181, 0, 0.41);
}

.rejected_bg{
    background: rgba(255, 61, 0, 0.36);
}

.supervision-tag{
    min-width: 350px;
    vertical-align: top;
    min-height: 80px;
    display: inline-block;
    padding: 0 10px 10px 10px;
    background-color: whitesmoke;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.allocated{
    border: 1px solid #337ab7;
    background: rgba(51, 122, 183, 0.12);
    border-radius: 5px;
}

.supervision-admin{
    min-width: 500px;
    width: 30%;
    vertical-align: top;
    min-height: 106px;
    display: inline-block;
    padding: 0 10px 10px 10px;
    background-color: whitesmoke;
    border: 1px solid #e2e2e2;
    margin-right: 10px;
    border-radius: 5px;
}

.supervision-tag select{
    margin-top: 10px;
}

.supervision-header{
    vertical-align: top;
    height: 80px;
    display: inline-block;
    padding: 15px 10px 10px 10px;
    border-top: 1px solid #e2e2e2;
    margin-left: 1%;
    border-radius: 5px;
}

.supervision-content{
    padding: 20px 10px 10px 10px;
    background-color: whitesmoke;
    border: 1px solid #e2e2e2;
    margin-top: -15px;
    border-radius: 5px;
}
.supervision{
    margin: 0 0 5px 0 !important;
    display: inline-block;
    width: 100%;
}

.scrollable-dropdown-menu .dropdown-menu {
	max-height: 250px;
	min-width: 250px;
	overflow-y: auto;
}

/* Dynamic increment for fields*/
fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
input[type="text"],
select{
    padding:5px;
}

.action-btn{
    min-width: 6em;
}

/* Search */
.basic-detail{
    margin-bottom: 3px;
    margin-top: 3px;
    border-top: 1px solid #eee;
    padding: 2px 0 2px 0;
}

.basic-detail label, p{
    height: 34px;
    padding: 5px 0 5px 0;
    margin: 0 !important;
}

.search-table>tbody>.selected {
   background-color: rgba(0, 73, 255, 0.08) !important;
}

.search-table>tbody>.selected:hover {
   background-color: rgba(141, 192, 219, 0.36) !important;
}

.input-group-btn{
    font-size: inherit !important;
}

.sm-margin-bot{
    margin-bottom: 4px;
}

.search-col .checkbox-group{

}

.checkbox {
    margin: 0 !important;
}

.checkbox-inline{
    display: inline-block;
    cursor: default !important;
    margin-right: 10px;
    margin-left: 0 !important;
}

.checkbox-group{
    display: inline-block;
    padding: 5px;
    background-color: whitesmoke;
    border: #dadada 1px solid;
    margin-right: 2px;
    width: 100%;
}

.checkbox-group .col{
    padding: 0;
}

.checkbox-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

th{
    text-align: center;
    vertical-align: middle !important;
}

td{
    vertical-align: middle !important;
}

.search-table tr{
    height: 3em;
}

.small-table tr{
    height: 2em;
    font-size: 0.8em;
}
.sub-li{
    margin-left: 40px !important;
    display: block;
}

/* Application */
.modal-lg{
    width: 100%;
}

.modal-md{
    width: 80%;
}

.supervisor-frame{
    padding: 5px;
    background-color: whitesmoke;
    border: #dadada 1px solid;
}

.file-field{
    padding: 10px;
    background: whitesmoke;
    border: 1px solid #ddd;
}

.file-table>tbody>tr {
   background-color: white !important;
}

.file-table>tbody>tr:hover {
   background-color: rgba(141, 192, 219, 0.25) !important;
}

.comment-details{
    border-top: 1px solid #ddd;
    font-size: 0.8em;
    text-align: right;
    padding: 5px 0 0 0;
    color: grey;
}

.tag{
    margin-right: 5px;
    padding: 5px;
    background: whitesmoke;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.col-file-type{
    width: 20%;
}

.col-file-name{
    width: 40%;
}

.col-description{
    width: 30%;
}

.col-action{
    width: 10%;
    min-width: 145px;
}

/* STATISTICS PAGE*/
.stats-sm{
    display: inline-block;
    vertical-align: top;
    min-width: 330px;
    padding: 0 15px 15px 15px;
    margin: 5px;
}

/* COMMENTS */
.comment{
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: 0 solid rgb(193, 193, 193);
}

.comment-box{
    padding: 10px;
    background: rgba(247, 247, 247, 0.65);
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
}

.ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height  {
    min-height: 150px;
    height: inherit;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control.myform1-height > .ta-bind {
    height: auto;
    min-height: 150px;
    padding: 6px 12px;
}