<h3>Filter PhD Applications</h3>

<form role="form" ng-submit="vm.search()">

    <div class="form-group">
        <label class="control-label" for="registryRef">Registry Ref Number</label>
        <input type="text" class="form-control" id="registryRef" ng-model="vm.searchOptions.registryRef" placeholder="E.g. 07362354">
    </div>

    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="vm.searchOptions.surname" placeholder="E.g. Szeles">
    </div>
    <div class="form-group">
        <label for="forename">Forename</label>
        <input type="text" class="form-control" id="forename" ng-model="vm.searchOptions.forename" placeholder="E.g. Marton">
    </div>


    <div class="form-group checkbox-group">
        <div>Possible Funding</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['possible_funding']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['possible_funding'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group checkbox-group">
        <div>Funding Status</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['funding_status']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['funding_status'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group checkbox-group">
        <div>Origin (Fee Classification)</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['origin']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['origin'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group checkbox-group">
        <div>Student Type</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['student_type']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['student_type'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
    </div>

</form>

<h3>Search Results</h3>

<!-- Field Selection for display and download -->
<div>
    <div>
        <div class="form-group checkbox-group">
            <div>Export search results</div>
            <div ng-repeat="(key, value) in vm.applicationFieldSelection" class="checkbox-inline">
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.applicationFieldSelection[key]['selected']" />
                    {{ value.pretty }}
                </label>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary btn-sm" type="button" ng-show="vm.searchResults.length !== 0" ng-click="vm.downloadFile('zip')">Download Zip</button>
        <button class="btn btn-primary btn-sm" type="button" ng-show="vm.searchResults.length !== 0" ng-click="vm.downloadFile('csv')">Download CSV</button>
    </div>
</div>

<hr>

<div class="table-responsive">

    <table class="table table-striped table-bordered table-condensed table-hover search-table" ts-wrapper>
        <thead>
            <tr>
                <th><input type="checkbox" ng-checked="vm.allRowSelection" ng-click="vm.selectAllRows()" /></th>
                <th ts-criteria="registry_ref|parseInt" ts-name="registry_ref" ng-show="vm.applicationFieldSelection['registry_ref']['selected']">Registry Ref</th>
                <th ts-criteria="created_at|parseInt" ts-name="created_at" ts-default ng-show="vm.applicationFieldSelection['created_at']['selected']">Created At</th>
                <th ts-criteria="modified_at|parseInt" ts-name="modified_at" ng-show="vm.applicationFieldSelection['modified_at']['selected']">Modified At</th>
                <th ts-criteria="surname|lowercase" ts-name="surname" ng-show="vm.applicationFieldSelection['surname']['selected'] || vm.applicationFieldSelection['forename']['selected']">Name</th>
                <th ts-criteria="research_subject|lowercase" ts-name="research_subject" ng-show="vm.applicationFieldSelection['research_subject']['selected']">Research Subject</th>
                <th ts-criteria="possible_funding|lowercase" ts-name="possible_funding" ng-show="vm.applicationFieldSelection['possible_funding']['selected']">Funding</th>
                <th ts-criteria="funding_status|lowercase" ts-name="funding_status" ng-show="vm.applicationFieldSelection['funding_status']['selected']">Funding Status</th>
                <th ts-criteria="origin|lowercase" ts-name="origin" ng-show="vm.applicationFieldSelection['origin']['selected']">Origin</th>
                <th ts-criteria="student_type|lowercase" ts-name="student_type" ng-show="vm.applicationFieldSelection['student_type']['selected']">Student Type</th>
                <th ng-show="vm.applicationFieldSelection['supervisions']['selected']">Files</th>
                <th ng-show="vm.applicationFieldSelection['supervisions']['selected']">Potential Supervisors</th>
                <th ts-criteria="status|lowercase" ts-name="status" ng-show="vm.applicationFieldSelection['status']['selected']">Status</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="data in vm.searchResults track by data.id" ts-repeat class="{{ data.selected ? 'selected' : '' }}">
                <td>
                    <input type="checkbox" ng-checked="data.selected" ng-click="vm.selectRow(data)" />
                </td>
                <td ng-show="vm.applicationFieldSelection['registry_ref']['selected']">
                    <b>{{ data.registry_ref }}</b>
                </td>
                <td align="center" ng-show="vm.applicationFieldSelection['created_at']['selected']">
                   {{ data.created_at | date : 'yyyy-MM-dd' }}
                </td>
                <td align="center" ng-show="vm.applicationFieldSelection['modified_at']['selected']">
                   {{ data.modified_at | date : 'yyyy-MM-dd' }}
                </td>
                <td ng-show="vm.applicationFieldSelection['surname']['selected'] || vm.applicationFieldSelection['forename']['selected']">
                    <a href="application/edit/{{ data.id }}/{{ data.registry_ref }}">
                        <b>{{ data.surname }} ({{ data.forename }})</b>
                    </a>
                </td>
                <td ng-show="vm.applicationFieldSelection['research_subject']['selected']">
                    {{ data.research_subject }}
                </td>
                <td ng-show="vm.applicationFieldSelection['possible_funding']['selected']">
                    {{ data.possible_funding }}
                </td>
                <td ng-show="vm.applicationFieldSelection['funding_status']['selected']">
                    {{ data.funding_status }}
                </td>
                <td ng-show="vm.applicationFieldSelection['origin']['selected']">
                    {{ data.origin }}
                </td>
                <td ng-show="vm.applicationFieldSelection['student_type']['selected']">
                    {{ data.student_type }}
                </td>


                <td ng-show="vm.applicationFieldSelection['supervisions']['selected']">
                    <table class="table table-striped table-bordered table-condensed table-hover small-table">
                        <thead>
                            <th>Type</th>
                            <th>Name</th>
                        </thead>
                        <tbody ng-repeat="supervision in data.supervisions">
                            <tr ng-repeat="documentation in supervision.documentations">
                                <td>{{ documentation.file_type }}</td>
                                <td><a target="_blank" href="api/applications/download/?id={{ documentation.id }}&token={{ vm.accessToken }}"> {{ documentation.file_name }} </a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td ng-show="vm.applicationFieldSelection['supervisions']['selected']">
                    <div ng-repeat="supervision in data.supervisions" ng-if="!supervision.creator">
                        {{ supervision.supervisor.username }}
                    </div>
                </td>


                <td ng-show="vm.applicationFieldSelection['status']['selected']">
                    <b>{{ data.status }}</b>
                </td>
            </tr>
        </tbody>

    </table>

</div>
