<form role="form" ng-submit="vm.search()">

    <div class="form-group">
        <label for="registryRef">Registry Reference Number</label>
        <input type="text" class="form-control" id="registryRef" ng-model="vm.searchOptions.registryRef" placeholder="E.g. 07362354">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="vm.searchOptions.surname" placeholder="E.g. Szeles">
    </div>
    <div class="form-group">
        <label for="forename">Forename</label>
        <input type="text" class="form-control" id="forename" ng-model="vm.searchOptions.forename" placeholder="E.g. Marton">
    </div>


    <div class="form-group">
        <div>Possible Funding</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['possible_funding']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['possible_funding'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group">
        <div>Funding Status</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['funding_status']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['funding_status'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group">
        <div>Origin (Fee Classification)</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['origin']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['origin'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    <div class="form-group">
        <div>Student Type</div>
        <div ng-repeat="(key, value) in vm.searchFieldOptions['student_type']" class="checkbox-inline">
            <label class="checkbox" for="{{ key }}">
                <input type="checkbox" ng-model="vm.checkBoxSelection['student_type'][key]" name="group" id="{{ key }}" />
                {{ value }}
            </label>
        </div>
    </div>

    {{ vm.checkBoxSelection }}


    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
    </div>
</form>

<div class="col-md-8 col-md-offset-2">
    <table class="table">
        <tbody>
        <tr ng-repeat="data in vm.searchResults">
            <td id="application_{{ data.id }}">
                <h4>
                    <a href="application/{{ data.id }}/{{ data.registry_ref }}">{{data.registry_ref}}</a>
                </h4>
            </td>
        </tr>
        </tbody>
    </table>
</div>