<div>
    <h3> Welcome to the PhD Admissions Portal. </h3>
    <hr>
    <div class="panel panel-danger" ng-if="vm.isAdmin && vm.currentAcademicYear == undefined">
        <div class="panel-heading">
            No default academic year exists.
        </div>
        <div class="panel-body">
            Please create an academic year, and mark it as default: <a role="button" href="/admin/academic_years">Academic Years</a>
        </div>
    </div>
    <h4 ng-if="vm.currentAcademicYear != undefined">There are <b>{{ vm.numberOfApplications }}</b> applications in total for the year {{ vm.currentAcademicYear.name }}.</h4>
    <br>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a role="button" href="/home">Home</a>
        </li>
        <li ng-if="vm.isAdmin">
            <a role="button" href="/application/new">New Application</a>
        </li>
        <li>
            <a role="button" href="/search">Search</a>
        </li>
        <li ng-if="vm.isAdmin">
            <a role="button" href="/admin">Admin</a>
        </li>
    </ul>
</div>
