<div>
    <h3> Welcome to the PhD Admissions Portal. </h3>
    <hr>
    <div class="panel panel-danger" ng-if="vm.isAdmin && vm.currentAcademicYear == undefined">
        <div class="panel-heading">
            No default academic year exists.
        </div>
        <div class="panel-body">
            Please create an academic year, and mark it as default: <a role="button" href="/admin/academic_years">Academic Years</a>
        </div>
    </div>
    <h4 ng-if="vm.currentAcademicYear != undefined">There are <b>{{ vm.numberOfApplications }}</b> applications in total for the year {{ vm.currentAcademicYear.name }}.</h4>
    <br>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a role="button" href="/home">
                <span class="glyphicon glyphicon-home"></span>
                <span>&nbsp;</span>
                <span>Home</span>
            </a>
        </li>
        <li ng-if="vm.isAdmin">
            <a role="button" href="/application/new">
                <span class="glyphicon glyphicon-plus"></span>
                <span>&nbsp;</span>
                <span>New Application</span>
            </a>
        </li>
        <li>
            <a role="button" href="/search">
                <span class="glyphicon glyphicon-search"></span>
                <span>&nbsp;</span>
                <span>Search</span>
            </a>
        </li>
        <li ng-if="!vm.isAdmin" class="sub-li">
            <a role="button" href="/search/?academic_year_name={{ vm.currentAcademicYear.name }}&supervised_by={{ vm.username }}&supervision_type=SUPERVISOR">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span>&nbsp;</span>
                <span>List applications where I am a potential supervisor</span>
            </a>
        </li>
        <li class="sub-li">
            <a role="button" href="/search/?status=ACCEPTED">
                <span class="glyphicon glyphicon-menu-right accepted"></span>
                <span>&nbsp;</span>
                <span>List all ACCEPTED applications</span>
            </a>
        </li>
        <li class="sub-li">
            <a role="button" href="/search/?academic_year_name={{ vm.currentAcademicYear.name }}&status=PENDING">
                <span class="glyphicon glyphicon-menu-right pending"></span>
                <span>&nbsp;</span>
                <span>List all PENDING applications</span>
            </a>
        </li>
        <li ng-if="vm.isAdmin" class="sub-li">
            <a role="button" href="/search/?supervised_by={{ vm.username }}&creator=true">
                <span class="glyphicon glyphicon-menu-right"></span>
                <span>&nbsp;</span>
                <span>List applications created by me</span>
            </a>
        </li>
        <li ng-if="vm.isAdmin">
            <a role="button" href="/admin">
                <span class="glyphicon glyphicon-user"></span>
                <span>&nbsp;</span>
                <span>Admin</span>
            </a>
        </li>
    </ul>
</div>
