<h1></h1>

<div>
    <h3> Welcome to the PhD Admissions Portal. </h3>
    <br>
    <h4>There are <b>{{ vm.numberOfApplications }}</b> applications in total for the year 16/17.</h4>
    <br>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
            <a role="button" href="home">Home</a>
        </li>
        <li ng-if="vm.isAdmin" role="presentation" class="">
            <a role="button" href="application/new">New Application</a>
        </li>
        <li role="presentation" class="">
            <a role="button" href="/search">Search</a>
        </li>
    </ul>
</div>
