<div>
    <h3>Admin Settings</h3>
    <hr>
    <h4>Please select which settings you would like to change:</h4>
    <br>
    <ul class="nav nav-pills nav-stacked">

        <li>
            <a role="button" href="/admin/staff_roles">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span>&nbsp;</span>
                <span>Staff Roles</span>
            </a>
        </li>
        <li>
            <a role="button" href="/admin/academic_years">
                <span class="glyphicon glyphicon-calendar"></span>
                <span>&nbsp;</span>
                <span>Academic Years</span>
            </a>
        </li>

    </ul>
</div>
