<!DOCTYPE html>
<html ng-app="phdAdmissionsApp" lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>

        <base href="/" />

        {% include 'phdadmissions/stylesheets.html' %}
    </head>
    <body>

        <div class="loading-indicator" data-loading>
            <div class="triforce"></div>
        </div>

        <navbar></navbar>

        <div class="container-fluid main-content">
            <div class="row">
                <div class="col-xs-12 ng-view"></div>
            </div>
        </div>

        <div class="footer">
            © 2017 Imperial College London.
        </div>

    {% include 'phdadmissions/javascripts.html' %}
    </body>
</html>