{% load compress %}
{% load staticfiles %}

{% compress js %}
    <!-- DEPENDENCIES -->
    <script type="text/javascript" src="{% static 'dependencies/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-cookies/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-tablesort/js/angular-tablesort.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-animate/angular-animate.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/toastr/toastr.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-sanitize/angular-sanitize.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-bootstrap-confirm/dist/angular-bootstrap-confirm.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-tooltips/dist/angular-tooltips.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/textAngular/dist/textAngular-rangy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/textAngular/dist/textAngular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/textAngular/dist/textAngular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/chart.js/dist/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dependencies/angular-chart.js/dist/angular-chart.min.js' %}"></script>

    <!-- OUR FILES -->
    <script type="text/javascript" src="{% static 'phd/js/app/module.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/routes.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/authentication/AuthenticationModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/authentication/AuthenticationService.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/authentication/LoginController.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/navbar/NavbarModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/navbar/NavbarController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/navbar/NavbarDirective.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/home/HomeModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/home/HomeController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/home/HomeService.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/application/ApplicationModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/ApplicationController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/ApplicationService.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/SupervisionDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/SupervisionController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/CommentModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/CommentModalDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/FileInputController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/FileInputDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/CustomOnFileChange.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/EmailSenderModalDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/EmailSenderModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/SupervisorRecommendationModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/application/SupervisorRecommendationModalDirective.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/search/SearchModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/search/SearchController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/search/SearchService.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/AdminModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/AdminController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/AdminService.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/TagsController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/StaffController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/AcademicYearController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/EmailTemplateController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/EmailPreviewModalController.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/admin/EmailPreviewModalDirective.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/utilities/UtilitiesModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/utilities/LoadingDirective.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/utilities/ToastService.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/utilities/EnterDirective.js' %}"></script>

    <script type="text/javascript" src="{% static 'phd/js/app/components/statistics/StatisticsModule.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/statistics/StatisticsService.js' %}"></script>
    <script type="text/javascript" src="{% static 'phd/js/app/components/statistics/StatisticsController.js' %}"></script>

{% endcompress %}