{% load compress %}
{% load staticfiles %}

{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/bootstrap/dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/jquery-ui/themes/smoothness/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'phd/css/stylesheet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'phd/css/loading.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/angular-tablesort/tablesort.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/toastr/toastr.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/angular-tooltips/dist/angular-tooltips.css' %}" />
{% endcompress %}

