<form role="form" ng-submit="vm.uploadApplication()">

    <h3>Basic Details</h3>

    <div class="form-group">
        <label for="registryRef">Registry Reference Number</label>
        <input type="text" class="form-control" id="registryRef" ng-model="vm.application.registry_ref" placeholder="E.g. 07362354" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="vm.application.surname" placeholder="E.g. Szeles" required>
    </div>
    <div class="form-group">
        <label for="forename">Forename</label>
        <input type="text" class="form-control" id="forename" ng-model="vm.application.forename" placeholder="E.g. Marton" required>
    </div>

    <div class="form-group">
        <label for="possibleFunding">Possible Funding</label>
        <select class="form-control" id="possibleFunding" ng-model="vm.application.possible_funding" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['possible_funding']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fundingStatus">Funding Status</label>
        <select class="form-control" id="fundingStatus" ng-model="vm.application.funding_status" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['funding_status']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="origin">Origin (Fee Classification)</label>
        <select class="form-control" id="origin" ng-model="vm.application.origin" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['origin']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="studentType">Student Type</label>
        <select class="form-control" id="studentType" ng-model="vm.application.student_type" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['student_type']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <h3>Documentation</h3>

    <div class="form-group">
        <label>Application Form</label>
        <input type="file" class="form-control-file" id="APPLICATION_FORM_1" onchange="angular.element(this).scope().setFiles(this)"/>
    </div>

    <div class="form-group">
        <label>Research Summary</label>
        <input type="file" class="form-control-file" id="RESEARCH_SUMMARY_1" onchange="angular.element(this).scope().setFiles(this)"/>
    </div>

    <div class="form-group">
        <label>References</label>
        <input type="file" class="form-control-file" id="REFERENCE_1" onchange="angular.element(this).scope().setFiles(this)" onchange="angular.element(this).scope().setFiles(this)"/>
    </div>

    <fieldset data-ng-repeat="additonal in vm.additionals">
        <div class="form-group">

            <label>Additional Material {{ $index + 1 }}</label>
            <input type="file" class="form-control-file" id="ADDITIONAL_MATERIAL_{{ $index + 1 }}" onchange="angular.element(this).scope().setFiles(this)"/>

            <button type="button" class="remove" ng-click="vm.removeAdditional($index, 'ADDITIONAL_MATERIAL_')">-</button>
        </div>
    </fieldset>
    <button type="button" class="addfields" ng-click="vm.addNewAdditional()">Add Additional Material</button>


    <h3>Research Administration</h3>

    <!-- Supervisors -->
    <label for="exampleTextarea">Potential Supervisors</label>
    <input type="text" ng-model="vm.currentlySelectedSupervisor" uib-typeahead="supervisorUsername for supervisorUsername in vm.supervisorUsernames | filter:$viewValue | limitTo:8" class="form-control" typeahead-show-hint="true" typeahead-min-length="1">

    <div class="form-group">
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.addCurrentlySelectedSupervisor()">Add</button>
    </div>

    <!-- Supervisions -->
    <div class="table-responsive">

        <table class="table table-striped table-bordered table-condensed table-hover" ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="supervisor|parseInt" ts-default>Supervisor</th>
                    <th ts-criteria="recommendation|lowercase">Recommendation</th>
                    <th ts-criteria="modified_at|lowercase">Last Modified</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <!-- Existing Supervisions -->
                <tr ng-repeat="data in vm.existingSupervisions track by data.id" ng-if="data.type === 'SUPERVISOR'" ts-repeat>
                    <td>
                        <b>{{ data.supervisor.username }}</b>
                    </td>
                    <td>
                        {{ data.recommendation }}
                    </td>
                    <td>
                        {{ data.modified_at }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="vm.deleteSupervision(data.id)">Remove</button>
                    </td>
                </tr>

                <!-- Temporary Supervisions -->
                <tr ng-repeat="temporarySupervisor in vm.temporarySupervisors">
                    <td>
                        <b>{{ temporarySupervisor }}</b>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-xs btn-danger" ng-click="vm.removeTemporarySupervisor(temporarySupervisor)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="form-group">
        <label for="exampleTextarea">Research Subject</label>
        <textarea class="form-control" id="research_subject" rows="1" ng-model="vm.application.research_subject"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Registry Comment</label>
        <textarea class="form-control" id="registry_comment" rows="3" ng-model="vm.application.registry_comment"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </div>
</form>