<form role="form" ng-submit="vm.uploadApplication()">
    <div class="form-group">
        <label for="registryRef">Registry Reference Number</label>
        <input type="text" class="form-control" id="registryRef" ng-model="vm.application.registryRef" placeholder="Registry Reference Number" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="vm.application.surname" placeholder="Surname" required>
    </div>
    <div class="form-group">
        <label for="forename">Forename</label>
        <input type="text" class="form-control" id="forename" ng-model="vm.application.forename" placeholder="Forename" required>
    </div>

    <div class="form-group">
        <label for="possibleFunding">Possible Funding</label>
        <select class="form-control" id="possibleFunding" ng-model="vm.application.possibleFunding" required>
            <option>1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fundingStatus">Funding Status</label>
        <select class="form-control" id="fundingStatus" ng-model="vm.application.fundingStatus" required>
            <option>1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="origin">Origin (Fee Classification)</label>
        <select class="form-control" id="origin" ng-model="vm.application.origin" required>
            <option>1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="studentType">Student Type</label>
        <select class="form-control" id="studentType" ng-model="vm.application.studentType" required>
            <option>1</option>
        </select>
    </div>


    <div class="form-group">
        <label for="exampleTextarea">Example textarea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
    </div>
    <fieldset class="form-group">
        <legend>Radio buttons</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
            </label>
        </div>
    </fieldset>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Check me out
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </div>
</form>