<form role="form" ng-submit="vm.uploadApplication()">

    <div class="form-group">
        <label for="registryRef">Registry Reference Number</label>
        <input type="text" class="form-control" id="registryRef" ng-model="vm.application.registryRef" placeholder="E.g. 07362354" required>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" ng-model="vm.application.surname" placeholder="E.g. Szeles" required>
    </div>
    <div class="form-group">
        <label for="forename">Forename</label>
        <input type="text" class="form-control" id="forename" ng-model="vm.application.forename" placeholder="E.g. Marton" required>
    </div>

    <div class="form-group">
        <label for="possibleFunding">Possible Funding</label>
        <select class="form-control" id="possibleFunding" ng-model="vm.application.possibleFunding" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['possible_funding']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fundingStatus">Funding Status</label>
        <select class="form-control" id="fundingStatus" ng-model="vm.application.fundingStatus" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['funding_status']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="origin">Origin (Fee Classification)</label>
        <select class="form-control" id="origin" ng-model="vm.application.origin" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['origin']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="studentType">Student Type</label>
        <select class="form-control" id="studentType" ng-model="vm.application.studentType" required>
            <option value="" disabled selected>Please select...</option>
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['student_type']" value="{{key}}">{{value}}</option>
        </select>
    </div>

    <p>Documentation</p>

    <div class="form-group">
        <label for="exampleInputFile">Application Form</label>
        <input type="file" class="form-control-file" id="applicationForm">
    </div>

    <div class="form-group">
        <label for="exampleInputFile">Research Summary</label>
        <input type="file" class="form-control-file" id="researchSummary">
    </div>

    <div class="form-group">
        <label for="exampleInputFile">References</label>
        <input type="file" class="form-control-file" id="reference">
    </div>

    <div class="form-group">
        <label for="exampleInputFile">Additional Material</label>
        <input type="file" class="form-control-file" id="additionalMaterial">
    </div>


    <p>Research Administration</p>

    <div class="form-group">
        <label for="exampleTextarea">Research Subject</label>
        <textarea class="form-control" id="researchSubject" rows="1" ng-model="vm.application.researchSubject"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Registry Comment</label>
        <textarea class="form-control" id="registryComment" rows="3" ng-model="vm.application.registryComment"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </div>
</form>