<div class="col-md-2">
    <div class="row">
        <h4><b>{{ vm.supervision.supervisor.username }}</b></h4>
    </div>
    <div class="row">
        <i> Last modified at {{ vm.supervision.modified_at | date : 'hh:mm on dd-MM-yyyy'}}</i>
    </div>
    <br>
    <div class="row">
        <select class="form-control" ng-model="vm.supervision.recommendation">
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['recommendation']" value="{{key}}">{{value}}</option>
        </select>
    </div>
</div>
<div class="col-md-4">
    <label>Comments & Justification</label>
    <textarea class="form-control" rows="4" ng-model="vm.supervisorComment"></textarea>
    <button type="button" class="btn btn-sm btn-primary action-btn" ng-click="vm.postComment(vm.supervision.id)">Post</button>
    <br>
    <div class="comment" ng-repeat="comment in vm.supervision['comments'] track by comment.id">
        <i>Posted at {{ comment.created_at | date : 'hh:mm on dd-MM-yyyy'}}</i>
        <hr>
        <p>{{ comment.content }}</p>
    </div>
</div>
<div class="col-md-5">
    <label>Additional Material</label>
    <table class="table table-striped table-bordered table-condensed table-hover file-table">
        <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="additional in vm.supervisionFiles track by additional.id">
                <td>
                    <a target="_blank" href="api/applications/download/?id={{ additional.id }}&token={{ vm.access_token }}"> {{ additional.file_name }} </a>
                </td>
                <td>
                    <input type="text" ng-model="additional.description" class="form-control" readonly>
                </td>
                <td align="center">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.deleteFile(additional.id)">Remove</button>
                </td>
            </tr>

            <tr data-ng-repeat="newFile in vm.newFilesIndex track by $index">
                <td>
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" style="display: none;" name="{{ $index }}" onchange="angular.element(this).scope().setFiles(this)">
                            </span>
                        </label>
                        <input type="text" class="form-control" ng-value="newFile['file']['name']" readonly>
                    </div>
                </td>
                <td>
                    <input type="text" ng-model="newFile.description" class="form-control">
                </td>
                <td align="center">
                    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.removeFileInput($index)">Remove</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-show="newFile.file != undefined" ng-click="vm.uploadFile($index)">Upload</button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td align="center">
                    <button type="button" class="add-fields btn btn-primary" ng-click="vm.addNewFileInput()">Add Additional Material</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>