<div class="supervision-tag">
    <div>
        <h4 class="inline-block"><b>{{ vm.supervision.supervisor.username }}</b>: </h4>
        <select ng-if="vm.username === vm.supervision.supervisor.username" class="inline-block" ng-model="vm.supervision.recommendation" ng-change="vm.recommendationChange()">
            <option ng-repeat="(key, value) in vm.applicationFieldChoices['recommendation']" value="{{key}}">{{value}}</option>
        </select>
        <h4 class="inline-block" ng-if="vm.username !== vm.supervision.supervisor.username">{{ vm.applicationFieldChoices['recommendation'][vm.supervision.recommendation] }}</h4>
    </div>
    <div>
        <i> Last modified at {{ vm.supervision.modified_at | date : 'hh:mm on dd-MM-yyyy'}}</i>
    </div>
</div>

<div class="supervision-header">
    <button ng-if="vm.isAdmin"
        class="btn btn-danger btn-sm inline-block"
        type="button"
        mwl-confirm
        title="Delete {{ vm.supervision.supervisor.username }}"
        message="Permanently delete this potential supervisor?"
        confirm-text="Yes"
        cancel-text="Cancel"
        placement="top"
        on-confirm="vm.onDelete()"
        confirm-button-type="danger"
        cancel-button-type="default">
        <span class="glyphicon glyphicon-trash"></span>
        <span>Delete Supervision</span>
    </button>

    <button ng-if="vm.isAdmin && !vm.supervision.allocated"
        class="btn btn-primary btn-sm inline-block"
        type="button"
        mwl-confirm
        title="Allocation"
        message="Allocate {{ vm.supervision.supervisor.username }} as a supervisor?"
        confirm-text="Yes"
        cancel-text="Cancel"
        placement="top"
        on-confirm="vm.allocateSupervision()"
        confirm-button-type="success"
        cancel-button-type="default">Allocate Supervisor</button>

    <button ng-if="vm.isAdmin && vm.supervision.allocated"
        class="btn btn-danger btn-sm inline-block"
        type="button"
        mwl-confirm
        title="Undo Allocation"
        message="Remove allocation of {{ vm.supervision.supervisor.username }} as a supervisor?"
        confirm-text="Yes"
        cancel-text="Cancel"
        placement="top"
        on-confirm="vm.deAllocateSupervision()"
        confirm-button-type="danger"
        cancel-button-type="default">Undo Allocation</button>
</div>

<div class="supervision-content">

    <div class="col-45 inline-block">
        <span>
            <label>Comments & Justification</label>
        </span>
        <span>
            <i>({{ vm.supervision.comments.length }})</i>
        </span>

        <!-- Modal -->
        <comment-modal supervision="vm.supervision"></comment-modal>
        <br>
        <div class="comment" ng-repeat="comment in vm.supervision.comments track by comment.id">
            <div>
                <pre>{{ comment.content }}</pre>
            </div>
            <div class="comment-details">
                <span>
                    <i>posted at {{ comment.created_at | date : 'hh:mm on dd-MM-yyyy'}}</i>
                </span>
            </div>
        </div>

        <!-- Trigger Modal -->
        <div ng-if="vm.username === vm.supervision.supervisor.username" align="center">
            <button type="button" class="btn btn-sm btn-primary action-btn" data-toggle="modal" data-target="#comment-modal{{ vm.supervision.id }}">Add New Comment</button>
        </div>

        <hr>
    </div>

    <div class="col-45 inline-block supervision-cell">
        <label>Additional Material <i>({{ vm.supervision.documentations.length }})</i></label>
        <table class="table table-striped table-bordered table-condensed table-hover file-table">
            <thead>
            <tr>
                <th class="col-file-name">File</th>
                <th class="col-description">Description</th>
                <th class="col-action">Action</th>
            </tr>
            </thead>
        </table>

        <!-- Additional Material -->
        <file-input new-application="vm.newApplication"
                    access-token="vm.access_token"
                    file-type="ADDITIONAL_MATERIAL"
                    file-type-readable="Additional Material"
                    existing-files="vm.supervisionFiles"
                    supervision-id="vm.supervision.id"
                    hide-file-type-column="true"
                    allowed-to-add-file="vm.supervision != undefined && (vm.userRole === vm.supervision.type) && (vm.userRole !== 'SUPERVISOR' || vm.username === vm.supervision.supervisor.username)"></file-input>

    </div>

</div>
{{ vm.allowedToAddFile }}
