*.log
*.pot
*.pyc
htmlcov/
.coverage
*.jpg
*.png
*.gif
assets/static/dependencies/*
assets/static/compressed/*
assets/media/*
db.sqlite3
phdadmissions/migrations/*
authentication/migrations/*
assets/dev_static/CACHE/*